body {
	font-family: 'Quicksand', sans-serif;
}
header {
	background-image: linear-gradient(rgba(72, 1, 1, 0.5),rgba(0, 39, 3, 0.5)),url('../img/h-bg.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.navbar-default {
	background-color: transparent !important;
	border-color: transparent;
	background-image: none;
	box-shadow: none;	
	transition: all 1s;
}
nav.tlo {
	background-color: rgba(0, 0, 0, 0.75)!important;
	transition: all 1s;
}
.navbar-default .navbar-header .navbar-brand {
	font-size: 2em;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
.navbar-default #navbar ul li a {
	font-size: 1.5em;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
}

.navbar-default #navbar ul li a:hover {
	border-bottom: 2px solid #e67e22;
}

header div.slogan {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
header div.slogan h1,
header div.slogan p {
	text-shadow: 2px 2px 4px rgba(0,0,0,0.75);
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: -10px;
}

section.sec1,
section.sec3,
section.sec4,
section.secForm {
	padding-top: 50px;
	padding-bottom: 80px;
}
section.sec1 h2 {
	display: inline-block;
}
.h-line:after {
	content: "";
	display: block;
	border-bottom: 2px solid orange;
}
section.sec1 > div:nth-child(2) > div > h3 {
	margin-top: 0;
}
#about > div:nth-child(2) > div.jq-about {
	opacity: 0;
}
#about > div:nth-child(2) > div.jq-about.animated {
	opacity: 1;
}
#about > div:nth-child(2) > div.jq-about.delay-1 {
	animation-delay: 0;
}
#about > div:nth-child(2) > div.jq-about.delay-2 {
	animation-delay: 0.2s;
}
#about > div:nth-child(2) > div.jq-about.delay-3 {
	animation-delay: 0.4s;
}
#about > div:nth-child(2) > div.jq-about.delay-4 {
	animation-delay: 0.6s;
}

section.sec2,
section.sec2 > .row {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
section.sec2 .myGallery{
	padding-left: 0;
	padding-right: 0;
}
section.sec2 > div > div > figure {
	overflow: hidden;
}
section.sec2 > div > div > figure > img {
	width: 100%;
	height: auto;
	opacity: .8;
	transition: all .3s;
}
section.sec2 > div > div > figure > img:hover {
	opacity: 1;
	transform: scale(1.03);
}

section.sec3 {
	background-color: #f4f4f4;
}
section.sec3 .phone-img {
	width: 50%;
	margin-bottom: 25px;
}
section.sec3 .list-el {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
}
section.sec3 .el-number {
    color: #f79624;
    font-size: 4em;
    width: 10%;
    text-align: left;
}
section.sec3 .el-text {
	padding: 5px;
    width: 90%;
    color: #000;
    font-size: 1.5em;
}
section.sec3 > div > div:nth-child(1) > div > h2 {
	margin-bottom: 50px;
}

section.sec4 {
	background-image: linear-gradient(rgba(72, 1, 1, 0.5),rgba(0, 39, 3, 0.5)),url('../img/bg-4.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
section.sec4 .sec4-box {
    background-color: #f0f8ff;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 28px 15px -20px rgba(0,0,0, 0.75);
    transition: all .5s;
    margin-bottom: 15px;
}
section.sec4 .sec4-box:hover {
	transform: translateY(-5px);
	background-color: #f7f4ec;
}
section.sec4 > div > div:nth-child(1) > div > h2,
section.sec4 > div > div:nth-child(1) > div > p {
	color: #fff;
}

section.secMap {
	background-image: linear-gradient(rgba(72, 1, 1, 0.5),rgba(0, 39, 3, 0.5)),url('../img/map.png');
	background-size: cover;
	background-position: center;
	margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: 400px;
}

footer {
	background: #262929;
    height: 100px;
    padding: 30px 0;
}
footer ul.footer-nav {
	list-style-type: none;
	padding-left: 0;
}
footer ul.footer-nav li{
	float: left;
}
footer ul.footer-nav li a{
	font-size: 1.5em;
	color: #929292;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
    text-decoration: none;
}

footer ul.footer-nav li a:hover {
	text-decoration: none;
	border-bottom: 2px solid #e67e22;
}
footer .foot-social a {
	font-size: 2em;
	color: #929292;
    margin-right: 20px;
    transition: color .3s;
}
footer .foot-social a:hover {
	color: #dcdcdc;
}

@media screen and (max-width: 480px) {
    footer ul.footer-nav li a {
		font-size: 1em;
	    margin-right: 10px;
	}
	footer .foot-social a {
		font-size: 1.5em;
	    margin-right: 10px;
	}

}